body {
    background: linear-gradient(to right, 
        red, 
        orange, 
        yellow, 
        green, 
        blue, 
        indigo, 
        violet); 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1vw;
}

#logo {
    margin: 0px;
    padding: 15px;
    font-family: "Fredoka One", sans-serif;
    font-size: 1.5em;
    color: white;
    background: linear-gradient(135deg, red, green);
    box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.8), 
                0 0 30px 10px rgba(0, 255, 0, 0.7),
                inset 0 0 10px 5px rgba(255, 255, 255, 0.6);
    width: 12%;
    border-radius: 50%;
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9), 
                 0 0 15px rgba(255, 255, 255, 0.7);
    animation: glow 2s infinite alternate;
}

ul {    
    margin: 0px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;

}

body > header > nav > ul > li{
    padding: 8px;
    margin: 8px;

}

.navbutton {
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 8px;
    border: 1px solid red;
    border-radius: 20%;
}

body > header {
    background-color: white;
    color: black;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-between;
}

footer {
    background-color: white;
}

#main-content{
    display: flex;
    justify-content: space-around;
}

#main-content > div{
    width: 70%;
}

body > main article {
    width: 90%;
    margin: auto;
}

body > footer {
    display: flex;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a{
    text-decoration: none;
    color: white;

}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

img {
    border-radius: 30%
}


